body {
    font-family: Arial, sans-serif;
  }

  .prestamos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .cabecera {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
    margin-bottom: 10px;
  }

  .cabecera span {
    background-color: rgb(250, 83, 83);
    padding: 10px;
    text-align: center;
  }

  .prestamo {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 5px;
  }

  .prestamo div {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }
  .cronograma {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5px;
  }
  .cronograma div {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
  .cronograma {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5px;
  }
  
  .inventario div {
    border: 1px solid #333; /* Cambia el tono del borde según tus preferencias */
    padding: 5px;
    text-align: center;
    margin-bottom: 5px; /* Ajusta el margen inferior según tus preferencias */
  }
  
  .titulo1, .titulo2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .inventario {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  .cabecera1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin-bottom: 5px;
  }
  .cabecera1 span {
    background-color: rgb(250, 83, 83);
    padding: 5px;
    text-align: center;
  }
  .cabecera2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 60%;
    margin-bottom: 10px;
  }

  .cabecera2 span {
    background-color: rgb(250, 83, 83);
    padding: 5px;
    text-align: center;
  }
  .logopp
  {
    text-align: center;
  }
  
  